NEXT_PUBLIC_SUPABASE_URL=https://kclkrydtkxfpdcohhtxy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjbGtyeWR0a3hmcGRjb2hodHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc5NjYzNjUsImV4cCI6MjA4MzU0MjM2NX0.6wd0iusLcqh7KwVHcR4fwyaKf87UPxQaFYJcoRKSwKw
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8000
NEXT_PUBLIC_BACKEND_BASE=http://127.0.0.1:8000
